{% extends 'layouts/application.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  <link rel="stylesheet" href="stylesheets/modules/index.css">
{% endblock %}

{% block content %}
  <div class="home-wrapper" data-module="home">
    {% include "shared/header.html" %}
    <section>
      <div class="title">
        <div class="container">
          <h3 class="text">PROJECT</h3>
          <span class="line"></span>
        </div>
      </div>
      <div class="main">
        <div class="projects container">
          <table id="table" class="table"></table>
        </div>
      </div>
    </section>

    <footer>
      <div class="inner container">
        <span class="f-text">You haven’t logged in yet</span><button class="f-login-btn">Log in</button>
      </div>
    </footer>
  </div>
{% endblock %}

{% block javascript %}
  <script src="./javascripts/index.js"></script>
{% endblock %}