{% extends 'layouts/application.html' %}

{% block title %}Home{% endblock %}

{% block head %}
  <link rel="stylesheet" href="stylesheets/modules/index.css">
{% endblock %}

{% block content %}
  <div class="home-wrapper" data-module="home">
    {% include "shared/base-form.html" %}
    {% include "shared/header.html" %}

    <div class="divider"></div>
    <section>
      <div class="main">
        <div class="projects container">
          <table id="table" class="table"></table>
        </div>
      </div>
    </section>

    {% include "shared/footer.html" %}
  </div>
{% endblock %}

{% block javascript %}
  <script src="./javascripts/index.js"></script>
{% endblock %}