{% extends 'layouts/application.html' %}

{% block title %}TokenPie - Best Token Sale Platform{% endblock %}

{% block head %}
  <link rel="stylesheet" href="stylesheets/modules/details.css">
{% endblock %}

{% block content %}

  <div class="details-wrapper" data-module="details">
    {% include "shared/loading.html" %}
    {% include "shared/header.html" %}

    <section class="section-top">
      <div class="s-container">
        <h3 class="title" data-i18n="detail.platform"></h3>
        <p class="summary-txt" data-i18n="detail.summary"></p>
        <p class="join-txt" data-i18n="detail.join"></p>
        <a href="https://0.plus/joinchat/HvF0VRA8EMf4P-1lhUfoJg" class="btn-telegram" target="_blank">
          <span class="icon-tg"></span>
          <span class="tg-text" data-i18n="detail.btnTelegram"></span>
        </a>
      </div>
    </section>

    <section class="section-middle">
      <div class="s-container">
        <h2 class="title" data-i18n="detail.activeProject"></h2>
        <div class="row-push clearfix">
          <div class="col-md-push-5 area area-right">
            <div class="project-main"></div>
          </div>
          <div class="col-md-push-7 area area-left">
            <div class="project-head"></div>
            <div class="project-body"></div>
            <div class="project-foot"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-foot">
      <div class="s-container">
        <div class="progress-wrap">
          <div class="progress-status">
            <span class="softcap"><i class="circle blue"></i><i data-i18n="common.softcap"></i></span>
            <span class="hardcap"><i class="circle green"></i><i data-i18n="common.hardcap"></i></span>
          </div>
          <div class="progress-bg"></div>
          <div class="progress-bar">
            <span class="circle-outer">
              <i class="circle-inner"></i>
            </span>
          </div>
        </div>
        <p class="eth-raised">
          <span class="eth-raised-amount"></span> ETH <span class="raised-txt" data-i18n="detail.saled"></span>
        </p>
      </div>
    </section>

    {% include "shared/footer.html" %}
  </div>
  {% include "shared/base-form.html" %}
{% endblock %}

{% block javascript %}
  <script src="./javascripts/details.js"></script>
{% endblock %}