{% extends 'layouts/application.html' %}

{% block title %}TokenPie{% endblock %}

{% block head %}
  <link rel="stylesheet" href="stylesheets/modules/sale.css">
{% endblock %}

{% block content %}

  <div class="sale-wrapper" data-module="sale">
    <!-- {% include "shared/loading.html" %} -->
    {% include "shared/header.html" %}

    <div class="container">
      <form class="form" id="submit-form" onsubmit="return false;">
        <section class="section wallet-container">
          <div class="head">
            <label class="label">1</label>
            <span class="name">Wallet Address</span>
            <span class="icon-tips"></span>
            <a href="" class="btn-order">My Order</a>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="receiving-wallet" name="receiving">
              </div>
              <div class="col-md-6">
                <input type="text" class="sending-wallet" name="sending">
              </div>
            </div>
          </div>
        </section>

        <section class="section tokens-container">
          <div class="head">
            <label class="label">2</label>
            <span class="name">Buy Tokens</span>
            <span class="icon-tips"></span>
          </div>
          <div class="body">
            <div class="price">
              <span class="price-txt">Price</span>
              <i class="icon-circle"></i>
              <span class="one">1ETH</span>=<span class=" proportion">8000 SLT</span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <span class="category eth">ETH</span>
                <input type="text" class="payAmount" name="payAmount">
              </div>
              <div class="col-md-6">
                <span class="category token">SLT</span>
                <input type="text" class="getAmount" name="getAmount">
              </div>
            </div>
            <div class="payment">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="pay-head">
                    <span class="name">Payment</span>
                    <span class="icon-tips"></span>
                  </h3>
                  <div class="pay-body">
                    <p class="color-blue">
                      <span class="send">Send</span>
                      <span class="buy-amount">2.0</span>
                      <span class="eth">ETH</span>
                      <span class="arrive">to</span>
                    </p>
                    <p class="platform-address"></p>
                    <button class="btn-copy">Copy to clipboard</button>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="barcode"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section prove-container">
          <div class="head">
            <label class="label">3</label>
            <span class="name">Prove</span>
            <span class="icon-tips"></span>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="trade-id">
              </div>
            </div>
            <div class="invitation">
              <h3>invitation(Optional)</h3>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="invitation" class="invite-code">
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>

      <footer class="footer">
        <button class="btn-submit">Confirm</button>
      </footer>
    </div>

    {% include "shared/footer.html" %}
  </div>
  {% include "shared/base-form.html" %}
{% endblock %}

{% block javascript %}
  <script src="./javascripts/sale.js"></script>
{% endblock %}