{% extends 'layouts/application.html' %}

{% block title %}TokenPie{% endblock %}

{% block head %}
  <link rel="stylesheet" href="stylesheets/modules/sale.css">
{% endblock %}

{% block content %}
  <div class="sale-wrapper" data-module="sale">
    {% include "shared/loading.html" %}
    {% include "shared/header.html" %}

    <div class="container">
      <form class="form" id="submit-form">
        <section class="section wallet-container">
          <div class="sec-head">
            <label class="label">1</label>
            <span class="name" data-i18n="wallet.name"></span>
            <span class="tooltips tooltips-wallet">
              <i class="icon-tips"></i>
              <div class="tooltips-box tooltips-wallet-box">
                <p data-i18n="wallet.desc1"></p>
                <p data-i18n="wallet.desc2"></p>
                <p data-i18n="wallet.desc3"></p>
                <p data-i18n="wallet.desc4"></p>
                <p data-i18n="wallet.desc5"></p>
                <p data-i18n="wallet.desc6"></p>
              </div>
            </span>
            <a href="javascript:;" class="fr btn-order" data-i18n="common.order"></a>
          </div>
          <div class="sec-body">
            <div class="s-row">
              <div class="s-col-6">
                <input type="text" class="receiving-wallet" name="receiving" data-i18n="[placeholder]wallet.inputTip1" autocomplete="off">
              </div>
              <div class="s-col-6">
                <input type="text" class="sending-wallet" name="sending" data-i18n="[placeholder]wallet.inputTip2" autocomplete="off">
              </div>
            </div>
          </div>
        </section>

        <section class="section tokens-container">
          <div class="sec-head">
            <label class="label">2</label>
            <span class="name" data-i18n="buyTokens.name"></span>
            <span class="tooltips tooltips-tokens">
              <i class="icon-tips"></i>
              <div class="tooltips-box tooltips-tokens-box">
                <p>
                  <span data-i18n="buyTokens.min"></span> <span class="buy-min-eth"></span> ETH
                </p>
                <p>
                  <span data-i18n="buyTokens.max"></span> <span class="buy-max-eth"></span> ETH
                </p>
              </div>
            </span>
          </div>
          <div class="sec-body">
            <div class="price">
              <span class="price-txt">Price</span>
              <i class="icon-circle"></i>
              <span class="one-eth">1 ETH</span>
              <span class="icon-equal">=</span>
              <span class="proportion"></span>
              <span class="token"></span>
            </div>
            <div class="s-row">
              <div class="s-col-6">
                <span class="category eth">ETH</span>
                <input type="text" class="payAmount" name="payAmount" data-i18n="[placeholder]buyTokens.pholder1" autocomplete="off">
              </div>
              <div class="s-col-6">
                <span class="category token"></span>
                <input type="text" class="getAmount" name="getAmount" data-i18n="[placeholder]buyTokens.pholder2" autocomplete="off">
              </div>
            </div>
            <div class="payment">
              <div class="s-row">
                <div class="s-col-6">
                  <h3 class="pay-head">
                    <span class="name" data-i18n="buyTokens.payment"></span>
                    <span class="tooltips tooltips-pay">
                      <i class="icon-tips"></i>
                      <div class="tooltips-box tooltips-pay-box">
                        <p>
                          <span data-i18n="buyTokens.gaslimit"></span>
                          <span class="gas-limit"></span>
                        </p>
                        <p>
                          <span data-i18n="buyTokens.gasPrice"></span>
                          <span class="gas-price"></span>
                        </p>
                      </div>
                    </span>
                  </h3>
                  <div class="pay-body">
                    <p class="color-blue">
                      <span class="send" data-i18n="buyTokens.send"></span>
                      <span class="buy-eth-amount"></span>
                      <span class="eth">ETH</span>
                      <span class="arrive" data-i18n="buyTokens.arrive"></span>
                    </p>
                    <p class="platform-address"></p>
                    <button class="btn-copy" data-i18n="buyTokens.copy"></button>
                  </div>
                </div>
                <div class="s-col-6">
                  <div class="barcode" id="qrcode"></div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="section prove-container">
          <div class="sec-head">
            <label class="label">3</label>
            <span class="name" data-i18n="proves.name"></span>
            <span class="tooltips tooltips-prove">
              <i class="icon-tips"></i>
              <div class="tooltips-box tooltips-prove-box">
                <p data-i18n="buyTokens.tradeIdText"></p>
              </div>
            </span>
          </div>
          <div class="sec-body">
            <div class="s-row">
              <div class="s-col-6">
                <input type="text" class="trade-id" name="tradeId" data-i18n="[placeholder]proves.pholder1" autocomplete="off">
              </div>
            </div>
            <div class="invitation">
              <h3><span data-i18n="common.invitation"></span><span class="optional" data-i18n="common.optional"></span></h3>
              <div class="s-row">
                <div class="s-col-6">
                  <input type="text" name="invitation" class="invite-code" maxlength="6" data-i18n="[placeholder]proves.pholder2" autocomplete="off">
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>

      <footer class="s-footer">
        <button class="btn-submit" data-i18n="common.confirm"></button>
      </footer>
    </div>

    {% include "shared/footer.html" %}
  </div>
  {% include "shared/base-form.html" %}
{% endblock %}

{% block javascript %}
  <script src="./javascripts/sale.js"></script>
{% endblock %}