@import "../base/index.scss";
header {
  padding-top: 46px;
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .inner {
    margin: 0 auto;
    max-width: 780px;
    width: 100%;
    line-height: 60px;
  }
  .logo {
    float: left;
    img {
      vertical-align: middle;
    }
  }

  .btns {
    float: right;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login-wrap {
    margin-right: 30px;
    .login {
      cursor: pointer;
    }
    .logout {
      display: none;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  @media (max-width: 767.9px) {
    .login-wrap {
      margin-right: 10px;
    }
  }

  .logined {
    display: none;
    img, i {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      width: 20px;
      height: 20px;
    }
    i {
      font-style: normal;
    }
    @media (max-width: 767.9px) {
      i {
        display: none;
      }
    }
  }

  .lang-switch {
    .lang-btn {
      padding-bottom: 4px;
      border-bottom: 1px solid #999999;
      cursor: pointer;
    }
  }
  .lang-fixed-layer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
    opacity: 0;
  }
  .langs-wrap {
    width: 320px;
    position: fixed;
    right: -320px;
    top: 0;
    bottom: 0;
    background: #F4F7F6;
    z-index: 1;
    z-index: 1000;

    .lang {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .close-btn {
      padding: 0 40px;
      line-height: 72px;
      border-bottom: 1px solid #f0f0f0;
      text-align: right;
    }
    .login-wrap {
      padding: 0 40px;
      line-height: 72px;
      border-bottom: 1px solid #f0f0f0;
      span {
        display: inline-block;
        cursor: pointer;
      }
    }
    .close-btn {
      .lang-close {
        margin-left: 10px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }
      & > div {
        cursor: pointer;
      }
    }
    .langs {
      .lang {
        padding: 0 40px;
        line-height: 72px;
        border-bottom: 1px solid #f0f0f0;
        cursor: pointer;
      }
      .l-active {
        span {
          display: inline-block;
          width: 32px;
          height: 32px;
          background: url('../../images/bases/ui_checked.png') no-repeat;
          background-size: cover;
        }
      }
    }
  }
  .user-manage {
    display: none;
    a {
      display: block;
    }
  }
}

@media (max-width: 767.9px) {
  header {
    padding: 10px;
  }
}