@import "../base/index.scss";

.form-fixed-layer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 9999;
  opacity: 0;

  .right {
    text-align: right;
  }

  .form-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: $color-white;
    text-align: center;
    cursor: pointer;
    .ui-close {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('../../images/bases/ui_close.png') no-repeat;
      background-size: cover;
      vertical-align: middle;
    }
  }

  .request-error {
    display: none;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: red;
    font-size: 14px;
    text-align: left;
  }

  .forget-form-container,
  .register-form-container {
    display: none;
  }

  .form-container {
    width: 470px;
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: 50%;
    background: #F4F7F6;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }

  .color-orange {
    color: $color-orange;
  }

  .form-head {
    margin-bottom: 28px;
    font-size: 24px;
  }
  
  .form-body {
    margin: 0 auto;
    width: 300px;
  }

  .form-group {
    position: relative;
    margin-bottom: 14px;

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      line-height: 24px;
      border: 1px solid #E3E7E6;
    }

    button {
      width: 100%;
      line-height: 44px;
      color: $color-white;
      background: $color-orange;
      cursor: pointer;
      &:disabled {
        background: #999999;
      }
    }

    input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('../../images/bases/ui_box_unchecked.png');
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-transition: all ease .3s;
        transition: all ease .3s;
      }
      &:checked {
        &:after {
          background-image: url('../../images/bases/ui_box_checked.png');
        }
      }
    }

    .agree {
      display: block;
      padding-left: 30px;
      text-align: left;
      cursor: pointer;
    }

    input[type="text"] {
      &.r-email {
        padding-right: 110px;
      }
    }

    label {
      &.error {
        display: block;
        margin-top: 5px;
        color: red;
        font-size: 12px;
        text-align: left;
      }
    }

    .send-code {
      position: absolute;
      top: 11px;
      right: 10px;
      width: 90px;
      line-height: 24px;
      color: $color-white;
      background: $color-orange;
      font-size: 12px;
      @include border-radius(20px);
    }

  }


  .form-foot {

  }

}