@import "../base/index.scss";

header {
  height: 60px;
  background: $color-white;
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .inner {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1326px;
    width: 100%;
    line-height: 60px;
  }
  .logo {
    float: left;
    img {
      vertical-align: middle;
    }
  }
  .nav {
    margin-left: 30px;
    max-width: 100px;
    line-height: 60px;
    float: left;
    .nav-item {
      width: 50px;
      text-align: center;
      cursor: pointer;
      &.nav-item-active {
        position: relative;
        color:#FF5500;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 50px;
          border-top: 2px solid #FF5500;
        }
      }
    }
  }

  .btns {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login-wrap {
    margin-right: 30px;
    cursor: pointer;
  }

  @media (max-width: 767.9px) {
    .login-wrap {
      margin-right: 10px;
    }
  }

  .logined {
    display: none;
    img, i {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      width: 20px;
      height: 20px;
    }
    i {
      font-style: normal;
    }
    @media (max-width: 767.9px) {
      i {
        display: none;
      }
    }
  }

  .lang-switch {
    .lang-btn {
      display: inline-block;
      border-bottom: 1px solid #999999;
      cursor: pointer;
    }
  }
  .lang-fixed-layer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 999;
    cursor: pointer;
    opacity: 0;
  }
  .langs-wrap {
    width: 320px;
    position: fixed;
    right: -320px;
    top: 0;
    bottom: 0;
    background: #F4F7F6;
    z-index: 1;
    z-index: 1000;

    .lang {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .close-btn {
      padding: 0 40px;
      line-height: 72px;
      border-bottom: 1px solid #f0f0f0;
      text-align: right;
    }
    .login-wrap {
      padding: 0 40px;
      line-height: 72px;
      border-bottom: 1px solid #f0f0f0;
      span {
        display: inline-block;
        cursor: pointer;
      }
    }
    .close-btn {
      .lang-close {
        margin-left: 10px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }
    }
    .langs {
      .lang {
        padding: 0 40px;
        line-height: 72px;
        border-bottom: 1px solid #f0f0f0;
        cursor: pointer;
      }
      .l-active {
        span {
          display: inline-block;
          width: 32px;
          height: 32px;
          background: url('../../images/bases/ui_checked.png') no-repeat;
          background-size: cover;
        }
      }
    }
    .logout {
      display: none;
      margin-top: 100px;
      text-align: center;
      .btn-logout {
        width: 150px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #FF5500;
        background: transparent;
        @include border-radius(20px);
      }
    }
  }
  .user-manage {
    display: none;
    a {
      display: block;
    }
  }
}