/* color variable */
/* border-radius */
.form-fixed-layer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  opacity: 0; }
  .form-fixed-layer .right {
    text-align: right; }
  .form-fixed-layer .form-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #ffffff;
    text-align: center;
    cursor: pointer; }
    .form-fixed-layer .form-close .ui-close {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../../images/bases/ui_close.png") no-repeat;
      background-size: cover;
      vertical-align: middle; }
  .form-fixed-layer .request-error {
    display: none;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    color: red;
    font-size: 14px;
    text-align: left; }
  .form-fixed-layer .forget-form-container,
  .form-fixed-layer .register-form-container {
    display: none; }
  .form-fixed-layer .form-container {
    width: 470px;
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: 50%;
    background: #F4F7F6;
    transform: translateX(-50%);
    text-align: center; }
  .form-fixed-layer .color-orange {
    color: #FF5500; }
  .form-fixed-layer .form-head {
    margin-bottom: 28px;
    font-size: 24px; }
  .form-fixed-layer .form-body {
    margin: 0 auto;
    width: 300px; }
  .form-fixed-layer .form-group {
    position: relative;
    margin-bottom: 14px; }
    .form-fixed-layer .form-group input[type="text"],
    .form-fixed-layer .form-group input[type="password"] {
      width: 100%;
      padding: 10px;
      line-height: 24px;
      border: 1px solid #E3E7E6; }
    .form-fixed-layer .form-group button {
      width: 100%;
      line-height: 44px;
      color: #ffffff;
      background: #FF5500;
      cursor: pointer; }
      .form-fixed-layer .form-group button:disabled {
        background: #999999; }
    .form-fixed-layer .form-group input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
      .form-fixed-layer .form-group input[type="checkbox"]:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("../../images/bases/ui_box_unchecked.png");
        background-repeat: no-repeat;
        background-size: cover;
        transition: all ease .3s; }
      .form-fixed-layer .form-group input[type="checkbox"]:checked:after {
        background-image: url("../../images/bases/ui_box_checked.png"); }
    .form-fixed-layer .form-group .agree {
      display: block;
      padding-left: 30px;
      text-align: left;
      cursor: pointer; }
    .form-fixed-layer .form-group input[type="text"].r-email {
      padding-right: 110px; }
    .form-fixed-layer .form-group label.error {
      display: block;
      margin-top: 5px;
      color: red;
      font-size: 12px;
      text-align: left; }
    .form-fixed-layer .form-group .send-code {
      position: absolute;
      top: 11px;
      right: 10px;
      width: 90px;
      line-height: 24px;
      color: #ffffff;
      background: #FF5500;
      font-size: 12px;
      border-radius: 20px; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJhc2Vmb3JtLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxvQkFBb0I7QUFDcEIsbUJBQW1CO0FBQ25CO0VBQ0UsY0FBYztFQUNkLGdCQUFnQjtFQUNoQixPQUFPO0VBQ1AsU0FBUztFQUNULFVBQVU7RUFDVixRQUFRO0VBQ1IsK0JBQStCO0VBQy9CLGNBQWM7RUFDZCxXQUFXLEVBQUU7RUFDYjtJQUNFLGtCQUFrQixFQUFFO0VBQ3RCO0lBQ0UsbUJBQW1CO0lBQ25CLE9BQU87SUFDUCxTQUFTO0lBQ1QsWUFBWTtJQUNaLGFBQWE7SUFDYixrQkFBa0I7SUFDbEIsb0JBQW9CO0lBQ3BCLG1CQUFtQjtJQUNuQixnQkFBZ0IsRUFBRTtJQUNsQjtNQUNFLHNCQUFzQjtNQUN0QixZQUFZO01BQ1osYUFBYTtNQUNiLDZEQUE2RDtNQUM3RCx1QkFBdUI7TUFDdkIsdUJBQXVCLEVBQUU7RUFDN0I7SUFDRSxjQUFjO0lBQ2QsYUFBYTtJQUNiLGVBQWU7SUFDZixvQkFBb0I7SUFDcEIsV0FBVztJQUNYLGdCQUFnQjtJQUNoQixpQkFBaUIsRUFBRTtFQUNyQjs7SUFFRSxjQUFjLEVBQUU7RUFDbEI7SUFDRSxhQUFhO0lBQ2IsZ0JBQWdCO0lBQ2hCLGdCQUFnQjtJQUNoQixPQUFPO0lBQ1AsVUFBVTtJQUNWLG9CQUFvQjtJQUVwQiw0QkFBNEI7SUFDNUIsbUJBQW1CLEVBQUU7RUFDdkI7SUFDRSxlQUFlLEVBQUU7RUFDbkI7SUFDRSxvQkFBb0I7SUFDcEIsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxlQUFlO0lBQ2YsYUFBYSxFQUFFO0VBQ2pCO0lBQ0UsbUJBQW1CO0lBQ25CLG9CQUFvQixFQUFFO0lBQ3RCOztNQUVFLFlBQVk7TUFDWixjQUFjO01BQ2Qsa0JBQWtCO01BQ2xCLDBCQUEwQixFQUFFO0lBQzlCO01BQ0UsWUFBWTtNQUNaLGtCQUFrQjtNQUNsQixlQUFlO01BQ2Ysb0JBQW9CO01BQ3BCLGdCQUFnQixFQUFFO01BQ2xCO1FBQ0Usb0JBQW9CLEVBQUU7SUFDMUI7TUFDRSxtQkFBbUI7TUFDbkIsT0FBTztNQUNQLFFBQVE7TUFDUixZQUFZO01BQ1osYUFBYTtNQUNiLHdCQUF3QjtNQUN4QixVQUFVO01BQ1YsV0FBVztNQUNYLGdCQUFnQjtNQUNoQix5QkFBeUI7TUFDekIsc0JBQXNCO01BQ3RCLGlCQUFpQixFQUFFO01BQ25CO1FBQ0UsWUFBWTtRQUNaLGVBQWU7UUFDZixZQUFZO1FBQ1osYUFBYTtRQUNiLGlFQUFpRTtRQUNqRSw2QkFBNkI7UUFDN0IsdUJBQXVCO1FBRXZCLHlCQUF5QixFQUFFO01BQzdCO1FBQ0UsK0RBQStELEVBQUU7SUFDckU7TUFDRSxlQUFlO01BQ2YsbUJBQW1CO01BQ25CLGlCQUFpQjtNQUNqQixnQkFBZ0IsRUFBRTtJQUNwQjtNQUNFLHFCQUFxQixFQUFFO0lBQ3pCO01BQ0UsZUFBZTtNQUNmLGdCQUFnQjtNQUNoQixXQUFXO01BQ1gsZ0JBQWdCO01BQ2hCLGlCQUFpQixFQUFFO0lBQ3JCO01BQ0UsbUJBQW1CO01BQ25CLFVBQVU7TUFDVixZQUFZO01BQ1osWUFBWTtNQUNaLGtCQUFrQjtNQUNsQixlQUFlO01BQ2Ysb0JBQW9CO01BQ3BCLGdCQUFnQjtNQUtoQixvQkFBb0IsRUFBRSIsImZpbGUiOiJjb21wb25lbnRzL2Jhc2Vmb3JtLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qIGNvbG9yIHZhcmlhYmxlICovXG4vKiBib3JkZXItcmFkaXVzICovXG4uZm9ybS1maXhlZC1sYXllciB7XG4gIGRpc3BsYXk6IG5vbmU7XG4gIHBvc2l0aW9uOiBmaXhlZDtcbiAgdG9wOiAwO1xuICByaWdodDogMDtcbiAgYm90dG9tOiAwO1xuICBsZWZ0OiAwO1xuICBiYWNrZ3JvdW5kOiByZ2JhKDAsIDAsIDAsIDAuNik7XG4gIHotaW5kZXg6IDk5OTk7XG4gIG9wYWNpdHk6IDA7IH1cbiAgLmZvcm0tZml4ZWQtbGF5ZXIgLnJpZ2h0IHtcbiAgICB0ZXh0LWFsaWduOiByaWdodDsgfVxuICAuZm9ybS1maXhlZC1sYXllciAuZm9ybS1jbG9zZSB7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIHRvcDogMDtcbiAgICByaWdodDogMDtcbiAgICB3aWR0aDogNzBweDtcbiAgICBoZWlnaHQ6IDcwcHg7XG4gICAgbGluZS1oZWlnaHQ6IDcwcHg7XG4gICAgYmFja2dyb3VuZDogI2ZmZmZmZjtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgY3Vyc29yOiBwb2ludGVyOyB9XG4gICAgLmZvcm0tZml4ZWQtbGF5ZXIgLmZvcm0tY2xvc2UgLnVpLWNsb3NlIHtcbiAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICAgIHdpZHRoOiAxNnB4O1xuICAgICAgaGVpZ2h0OiAxNnB4O1xuICAgICAgYmFja2dyb3VuZDogdXJsKFwiLi4vLi4vaW1hZ2VzL2Jhc2VzL3VpX2Nsb3NlLnBuZ1wiKSBuby1yZXBlYXQ7XG4gICAgICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAgICAgdmVydGljYWwtYWxpZ246IG1pZGRsZTsgfVxuICAuZm9ybS1maXhlZC1sYXllciAucmVxdWVzdC1lcnJvciB7XG4gICAgZGlzcGxheTogbm9uZTtcbiAgICB3aWR0aDogMzAwcHg7XG4gICAgbWFyZ2luOiAwIGF1dG87XG4gICAgbWFyZ2luLWJvdHRvbTogMTBweDtcbiAgICBjb2xvcjogcmVkO1xuICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICB0ZXh0LWFsaWduOiBsZWZ0OyB9XG4gIC5mb3JtLWZpeGVkLWxheWVyIC5mb3JnZXQtZm9ybS1jb250YWluZXIsXG4gIC5mb3JtLWZpeGVkLWxheWVyIC5yZWdpc3Rlci1mb3JtLWNvbnRhaW5lciB7XG4gICAgZGlzcGxheTogbm9uZTsgfVxuICAuZm9ybS1maXhlZC1sYXllciAuZm9ybS1jb250YWluZXIge1xuICAgIHdpZHRoOiA0NzBweDtcbiAgICBwYWRkaW5nOiA1MHB4IDA7XG4gICAgcG9zaXRpb246IGZpeGVkO1xuICAgIHRvcDogMDtcbiAgICBsZWZ0OiA1MCU7XG4gICAgYmFja2dyb3VuZDogI0Y0RjdGNjtcbiAgICAtd2Via2l0LXRyYW5zZm9ybTogdHJhbnNsYXRlWCgtNTAlKTtcbiAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVgoLTUwJSk7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyOyB9XG4gIC5mb3JtLWZpeGVkLWxheWVyIC5jb2xvci1vcmFuZ2Uge1xuICAgIGNvbG9yOiAjRkY1NTAwOyB9XG4gIC5mb3JtLWZpeGVkLWxheWVyIC5mb3JtLWhlYWQge1xuICAgIG1hcmdpbi1ib3R0b206IDI4cHg7XG4gICAgZm9udC1zaXplOiAyNHB4OyB9XG4gIC5mb3JtLWZpeGVkLWxheWVyIC5mb3JtLWJvZHkge1xuICAgIG1hcmdpbjogMCBhdXRvO1xuICAgIHdpZHRoOiAzMDBweDsgfVxuICAuZm9ybS1maXhlZC1sYXllciAuZm9ybS1ncm91cCB7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgIG1hcmdpbi1ib3R0b206IDE0cHg7IH1cbiAgICAuZm9ybS1maXhlZC1sYXllciAuZm9ybS1ncm91cCBpbnB1dFt0eXBlPVwidGV4dFwiXSxcbiAgICAuZm9ybS1maXhlZC1sYXllciAuZm9ybS1ncm91cCBpbnB1dFt0eXBlPVwicGFzc3dvcmRcIl0ge1xuICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICBwYWRkaW5nOiAxMHB4O1xuICAgICAgbGluZS1oZWlnaHQ6IDI0cHg7XG4gICAgICBib3JkZXI6IDFweCBzb2xpZCAjRTNFN0U2OyB9XG4gICAgLmZvcm0tZml4ZWQtbGF5ZXIgLmZvcm0tZ3JvdXAgYnV0dG9uIHtcbiAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgbGluZS1oZWlnaHQ6IDQ0cHg7XG4gICAgICBjb2xvcjogI2ZmZmZmZjtcbiAgICAgIGJhY2tncm91bmQ6ICNGRjU1MDA7XG4gICAgICBjdXJzb3I6IHBvaW50ZXI7IH1cbiAgICAgIC5mb3JtLWZpeGVkLWxheWVyIC5mb3JtLWdyb3VwIGJ1dHRvbjpkaXNhYmxlZCB7XG4gICAgICAgIGJhY2tncm91bmQ6ICM5OTk5OTk7IH1cbiAgICAuZm9ybS1maXhlZC1sYXllciAuZm9ybS1ncm91cCBpbnB1dFt0eXBlPVwiY2hlY2tib3hcIl0ge1xuICAgICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgICAgdG9wOiAwO1xuICAgICAgbGVmdDogMDtcbiAgICAgIHdpZHRoOiAyMHB4O1xuICAgICAgaGVpZ2h0OiAyMHB4O1xuICAgICAgYmFja2dyb3VuZDogdHJhbnNwYXJlbnQ7XG4gICAgICBib3JkZXI6IDA7XG4gICAgICBvdXRsaW5lOiAwO1xuICAgICAgY3Vyc29yOiBwb2ludGVyO1xuICAgICAgLXdlYmtpdC1hcHBlYXJhbmNlOiBub25lO1xuICAgICAgLW1vei1hcHBlYXJhbmNlOiBub25lO1xuICAgICAgYXBwZWFyYW5jZTogbm9uZTsgfVxuICAgICAgLmZvcm0tZml4ZWQtbGF5ZXIgLmZvcm0tZ3JvdXAgaW5wdXRbdHlwZT1cImNoZWNrYm94XCJdOmFmdGVyIHtcbiAgICAgICAgY29udGVudDogXCJcIjtcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICAgIHdpZHRoOiAyMHB4O1xuICAgICAgICBoZWlnaHQ6IDIwcHg7XG4gICAgICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybChcIi4uLy4uL2ltYWdlcy9iYXNlcy91aV9ib3hfdW5jaGVja2VkLnBuZ1wiKTtcbiAgICAgICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICAgICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICAgICAgLXdlYmtpdC10cmFuc2l0aW9uOiBhbGwgZWFzZSAuM3M7XG4gICAgICAgIHRyYW5zaXRpb246IGFsbCBlYXNlIC4zczsgfVxuICAgICAgLmZvcm0tZml4ZWQtbGF5ZXIgLmZvcm0tZ3JvdXAgaW5wdXRbdHlwZT1cImNoZWNrYm94XCJdOmNoZWNrZWQ6YWZ0ZXIge1xuICAgICAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCIuLi8uLi9pbWFnZXMvYmFzZXMvdWlfYm94X2NoZWNrZWQucG5nXCIpOyB9XG4gICAgLmZvcm0tZml4ZWQtbGF5ZXIgLmZvcm0tZ3JvdXAgLmFncmVlIHtcbiAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgICAgcGFkZGluZy1sZWZ0OiAzMHB4O1xuICAgICAgdGV4dC1hbGlnbjogbGVmdDtcbiAgICAgIGN1cnNvcjogcG9pbnRlcjsgfVxuICAgIC5mb3JtLWZpeGVkLWxheWVyIC5mb3JtLWdyb3VwIGlucHV0W3R5cGU9XCJ0ZXh0XCJdLnItZW1haWwge1xuICAgICAgcGFkZGluZy1yaWdodDogMTEwcHg7IH1cbiAgICAuZm9ybS1maXhlZC1sYXllciAuZm9ybS1ncm91cCBsYWJlbC5lcnJvciB7XG4gICAgICBkaXNwbGF5OiBibG9jaztcbiAgICAgIG1hcmdpbi10b3A6IDVweDtcbiAgICAgIGNvbG9yOiByZWQ7XG4gICAgICBmb250LXNpemU6IDEycHg7XG4gICAgICB0ZXh0LWFsaWduOiBsZWZ0OyB9XG4gICAgLmZvcm0tZml4ZWQtbGF5ZXIgLmZvcm0tZ3JvdXAgLnNlbmQtY29kZSB7XG4gICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICB0b3A6IDExcHg7XG4gICAgICByaWdodDogMTBweDtcbiAgICAgIHdpZHRoOiA5MHB4O1xuICAgICAgbGluZS1oZWlnaHQ6IDI0cHg7XG4gICAgICBjb2xvcjogI2ZmZmZmZjtcbiAgICAgIGJhY2tncm91bmQ6ICNGRjU1MDA7XG4gICAgICBmb250LXNpemU6IDEycHg7XG4gICAgICAtd2Via2l0LWJvcmRlci1yYWRpdXM6IDIwcHg7XG4gICAgICAtbW96LWJvcmRlci1yYWRpdXM6IDIwcHg7XG4gICAgICAtby1ib3JkZXItcmFkaXVzOiAyMHB4O1xuICAgICAgLW1zLWJvcmRlci1yYWRpdXM6IDIwcHg7XG4gICAgICBib3JkZXItcmFkaXVzOiAyMHB4OyB9XG4iXX0= */
