/* color variable */
/* border-radius */
.footer {
  padding: 12px 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ffffff;
  background: #019AC9;
  z-index: 98; }
  .footer .f-container {
    margin: 0 auto;
    max-width: 1208px; }
  .footer .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center; }
  .footer .row-rt {
    font-size: 0;
    text-align: right; }
  .footer .ui-list {
    display: inline-block; }
    .footer .ui-list li {
      float: left;
      font-size: 14px;
      cursor: pointer; }
      .footer .ui-list li:not(:last-child) {
        margin-right: 40px; }
    .footer .ui-list img {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle; }

@media (max-width: 767.9px) {
  .footer {
    margin-top: 20px;
    font-size: 12px;
    position: static;
    text-align: center; }
    .footer .row-rt {
      margin-top: 10px;
      text-align: center; }
    .footer .ui-list li {
      font-size: 12px; }
      .footer .ui-list li:not(:last-child) {
        margin-right: 20px; }
    .footer .ui-list img {
      max-width: 18px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImZvb3Rlci5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsb0JBQW9CO0FBQ3BCLG1CQUFtQjtBQUNuQjtFQUNFLGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsUUFBUTtFQUNSLFNBQVM7RUFDVCxVQUFVO0VBQ1YsZUFBZTtFQUNmLG9CQUFvQjtFQUNwQixZQUFZLEVBQUU7RUFDZDtJQUNFLGVBQWU7SUFDZixrQkFBa0IsRUFBRTtFQUN0QjtJQUVFLHFCQUFxQjtJQUNyQixjQUFjO0lBQ2Qsb0JBQW9CO0lBQ3BCLGdCQUFnQjtJQUNoQix1QkFBb0I7UUFBcEIsb0JBQW9CLEVBQUU7RUFDeEI7SUFDRSxhQUFhO0lBQ2Isa0JBQWtCLEVBQUU7RUFDdEI7SUFDRSxzQkFBc0IsRUFBRTtJQUN4QjtNQUNFLFlBQVk7TUFDWixnQkFBZ0I7TUFDaEIsZ0JBQWdCLEVBQUU7TUFDbEI7UUFDRSxtQkFBbUIsRUFBRTtJQUN6QjtNQUNFLHNCQUFzQjtNQUN0QixtQkFBbUI7TUFDbkIsdUJBQXVCLEVBQUU7O0FBRS9CO0VBQ0U7SUFDRSxpQkFBaUI7SUFDakIsZ0JBQWdCO0lBQ2hCLGlCQUFpQjtJQUNqQixtQkFBbUIsRUFBRTtJQUNyQjtNQUNFLGlCQUFpQjtNQUNqQixtQkFBbUIsRUFBRTtJQUN2QjtNQUNFLGdCQUFnQixFQUFFO01BQ2xCO1FBQ0UsbUJBQW1CLEVBQUU7SUFDekI7TUFDRSxnQkFBZ0IsRUFBRSxFQUFFIiwiZmlsZSI6ImNvbXBvbmVudHMvZm9vdGVyLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qIGNvbG9yIHZhcmlhYmxlICovXG4vKiBib3JkZXItcmFkaXVzICovXG4uZm9vdGVyIHtcbiAgcGFkZGluZzogMTJweCAwO1xuICBwb3NpdGlvbjogZml4ZWQ7XG4gIGxlZnQ6IDA7XG4gIHJpZ2h0OiAwO1xuICBib3R0b206IDA7XG4gIGNvbG9yOiAjZmZmZmZmO1xuICBiYWNrZ3JvdW5kOiAjMDE5QUM5O1xuICB6LWluZGV4OiA5ODsgfVxuICAuZm9vdGVyIC5mLWNvbnRhaW5lciB7XG4gICAgbWFyZ2luOiAwIGF1dG87XG4gICAgbWF4LXdpZHRoOiAxMjA4cHg7IH1cbiAgLmZvb3RlciAucm93IHtcbiAgICBkaXNwbGF5OiAtd2Via2l0LWJveDtcbiAgICBkaXNwbGF5OiAtbXMtZmxleGJveDtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIC1tcy1mbGV4LXdyYXA6IHdyYXA7XG4gICAgZmxleC13cmFwOiB3cmFwO1xuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7IH1cbiAgLmZvb3RlciAucm93LXJ0IHtcbiAgICBmb250LXNpemU6IDA7XG4gICAgdGV4dC1hbGlnbjogcmlnaHQ7IH1cbiAgLmZvb3RlciAudWktbGlzdCB7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrOyB9XG4gICAgLmZvb3RlciAudWktbGlzdCBsaSB7XG4gICAgICBmbG9hdDogbGVmdDtcbiAgICAgIGZvbnQtc2l6ZTogMTRweDtcbiAgICAgIGN1cnNvcjogcG9pbnRlcjsgfVxuICAgICAgLmZvb3RlciAudWktbGlzdCBsaTpub3QoOmxhc3QtY2hpbGQpIHtcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiA0MHB4OyB9XG4gICAgLmZvb3RlciAudWktbGlzdCBpbWcge1xuICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgICAgbWFyZ2luLXJpZ2h0OiAxMHB4O1xuICAgICAgdmVydGljYWwtYWxpZ246IG1pZGRsZTsgfVxuXG5AbWVkaWEgKG1heC13aWR0aDogNzY3LjlweCkge1xuICAuZm9vdGVyIHtcbiAgICBtYXJnaW4tdG9wOiAyMHB4O1xuICAgIGZvbnQtc2l6ZTogMTJweDtcbiAgICBwb3NpdGlvbjogc3RhdGljO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjsgfVxuICAgIC5mb290ZXIgLnJvdy1ydCB7XG4gICAgICBtYXJnaW4tdG9wOiAxMHB4O1xuICAgICAgdGV4dC1hbGlnbjogY2VudGVyOyB9XG4gICAgLmZvb3RlciAudWktbGlzdCBsaSB7XG4gICAgICBmb250LXNpemU6IDEycHg7IH1cbiAgICAgIC5mb290ZXIgLnVpLWxpc3QgbGk6bm90KDpsYXN0LWNoaWxkKSB7XG4gICAgICAgIG1hcmdpbi1yaWdodDogMjBweDsgfVxuICAgIC5mb290ZXIgLnVpLWxpc3QgaW1nIHtcbiAgICAgIG1heC13aWR0aDogMThweDsgfSB9XG4iXX0= */
