/* color variable */
/* border-radius */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #000000;
  z-index: 99; }
  header .fl {
    float: left; }
  header .fr {
    float: right; }
  header .inner {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    line-height: 40px; }
  header .logo {
    float: left; }
    header .logo img {
      width: 117px;
      vertical-align: middle; }
  header .btns {
    float: right;
    font-size: 14px;
    color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
  header .login-wrap {
    margin-right: 30px; }
    header .login-wrap .login {
      cursor: pointer; }
    header .login-wrap .logout {
      display: none;
      margin-left: 10px;
      cursor: pointer; }
  @media (max-width: 767.9px) {
    header .login-wrap {
      margin-right: 10px; } }
  header .logined {
    display: none; }
    header .logined img, header .logined i {
      display: inline-block;
      vertical-align: middle; }
    header .logined img {
      width: 20px;
      height: 20px; }
    header .logined i {
      font-style: normal; }
    @media (max-width: 767.9px) {
      header .logined i {
        display: none; } }
  header .lang-switch .lang-btn {
    cursor: pointer; }
  header .lang-fixed-layer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    cursor: pointer;
    opacity: 0; }
  header .langs-wrap {
    width: 320px;
    position: fixed;
    right: -320px;
    top: 0;
    bottom: 0;
    background: #F4F7F6;
    z-index: 1;
    z-index: 1000; }
    header .langs-wrap .lang {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center; }
    header .langs-wrap .close-btn {
      padding: 0 40px;
      line-height: 72px;
      border-bottom: 1px solid #f0f0f0;
      text-align: right; }
    header .langs-wrap .login-wrap {
      padding: 0 40px;
      line-height: 72px;
      border-bottom: 1px solid #f0f0f0; }
      header .langs-wrap .login-wrap span {
        display: inline-block;
        cursor: pointer; }
    header .langs-wrap .close-btn .lang-close {
      margin-left: 10px;
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: middle; }
    header .langs-wrap .langs .lang {
      padding: 0 40px;
      line-height: 72px;
      border-bottom: 1px solid #f0f0f0;
      cursor: pointer; }
    header .langs-wrap .langs .l-active span {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: url("../../images/bases/ui_checked.png") no-repeat;
      background-size: cover; }
  header .user-manage {
    display: none; }
    header .user-manage a {
      display: block; }

@media (max-width: 767.9px) {
  header .inner {
    padding: 0 10px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImhlYWRlci5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsb0JBQW9CO0FBQ3BCLG1CQUFtQjtBQUNuQjtFQUNFLGdCQUFnQjtFQUNoQixPQUFPO0VBQ1AsUUFBUTtFQUNSLFlBQVk7RUFDWixhQUFhO0VBQ2Isb0JBQW9CO0VBQ3BCLFlBQVksRUFBRTtFQUNkO0lBQ0UsWUFBWSxFQUFFO0VBQ2hCO0lBQ0UsYUFBYSxFQUFFO0VBQ2pCO0lBQ0UsZUFBZTtJQUNmLGtCQUFrQjtJQUNsQixZQUFZO0lBQ1osa0JBQWtCLEVBQUU7RUFDdEI7SUFDRSxZQUFZLEVBQUU7SUFDZDtNQUNFLGFBQWE7TUFDYix1QkFBdUIsRUFBRTtFQUM3QjtJQUNFLGFBQWE7SUFDYixnQkFBZ0I7SUFDaEIsZUFBZTtJQUVmLHFCQUFxQjtJQUNyQixjQUFjO0lBQ2QsdUJBQStCO1FBQS9CLCtCQUErQjtJQUMvQix1QkFBb0I7UUFBcEIsb0JBQW9CLEVBQUU7RUFDeEI7SUFDRSxtQkFBbUIsRUFBRTtJQUNyQjtNQUNFLGdCQUFnQixFQUFFO0lBQ3BCO01BQ0UsY0FBYztNQUNkLGtCQUFrQjtNQUNsQixnQkFBZ0IsRUFBRTtFQUN0QjtJQUNFO01BQ0UsbUJBQW1CLEVBQUUsRUFBRTtFQUMzQjtJQUNFLGNBQWMsRUFBRTtJQUNoQjtNQUNFLHNCQUFzQjtNQUN0Qix1QkFBdUIsRUFBRTtJQUMzQjtNQUNFLFlBQVk7TUFDWixhQUFhLEVBQUU7SUFDakI7TUFDRSxtQkFBbUIsRUFBRTtJQUN2QjtNQUNFO1FBQ0UsY0FBYyxFQUFFLEVBQUU7RUFDeEI7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGNBQWM7SUFDZCxnQkFBZ0I7SUFDaEIsT0FBTztJQUNQLFNBQVM7SUFDVCxVQUFVO0lBQ1YsUUFBUTtJQUNSLCtCQUErQjtJQUMvQixhQUFhO0lBQ2IsZ0JBQWdCO0lBQ2hCLFdBQVcsRUFBRTtFQUNmO0lBQ0UsYUFBYTtJQUNiLGdCQUFnQjtJQUNoQixjQUFjO0lBQ2QsT0FBTztJQUNQLFVBQVU7SUFDVixvQkFBb0I7SUFDcEIsV0FBVztJQUNYLGNBQWMsRUFBRTtJQUNoQjtNQUVFLHFCQUFxQjtNQUNyQixjQUFjO01BQ2QsdUJBQStCO1VBQS9CLCtCQUErQjtNQUMvQix1QkFBb0I7VUFBcEIsb0JBQW9CLEVBQUU7SUFDeEI7TUFDRSxnQkFBZ0I7TUFDaEIsa0JBQWtCO01BQ2xCLGlDQUFpQztNQUNqQyxrQkFBa0IsRUFBRTtJQUN0QjtNQUNFLGdCQUFnQjtNQUNoQixrQkFBa0I7TUFDbEIsaUNBQWlDLEVBQUU7TUFDbkM7UUFDRSxzQkFBc0I7UUFDdEIsZ0JBQWdCLEVBQUU7SUFDdEI7TUFDRSxrQkFBa0I7TUFDbEIsc0JBQXNCO01BQ3RCLFlBQVk7TUFDWixhQUFhO01BQ2IsdUJBQXVCLEVBQUU7SUFDM0I7TUFDRSxnQkFBZ0I7TUFDaEIsa0JBQWtCO01BQ2xCLGlDQUFpQztNQUNqQyxnQkFBZ0IsRUFBRTtJQUNwQjtNQUNFLHNCQUFzQjtNQUN0QixZQUFZO01BQ1osYUFBYTtNQUNiLCtEQUErRDtNQUMvRCx1QkFBdUIsRUFBRTtFQUM3QjtJQUNFLGNBQWMsRUFBRTtJQUNoQjtNQUNFLGVBQWUsRUFBRTs7QUFFdkI7RUFDRTtJQUNFLGdCQUFnQixFQUFFLEVBQUUiLCJmaWxlIjoiY29tcG9uZW50cy9oZWFkZXIuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyogY29sb3IgdmFyaWFibGUgKi9cbi8qIGJvcmRlci1yYWRpdXMgKi9cbmhlYWRlciB7XG4gIHBvc2l0aW9uOiBmaXhlZDtcbiAgdG9wOiAwO1xuICBsZWZ0OiAwO1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiA0MHB4O1xuICBiYWNrZ3JvdW5kOiAjMDAwMDAwO1xuICB6LWluZGV4OiA5OTsgfVxuICBoZWFkZXIgLmZsIHtcbiAgICBmbG9hdDogbGVmdDsgfVxuICBoZWFkZXIgLmZyIHtcbiAgICBmbG9hdDogcmlnaHQ7IH1cbiAgaGVhZGVyIC5pbm5lciB7XG4gICAgbWFyZ2luOiAwIGF1dG87XG4gICAgbWF4LXdpZHRoOiAxMDAwcHg7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgbGluZS1oZWlnaHQ6IDQwcHg7IH1cbiAgaGVhZGVyIC5sb2dvIHtcbiAgICBmbG9hdDogbGVmdDsgfVxuICAgIGhlYWRlciAubG9nbyBpbWcge1xuICAgICAgd2lkdGg6IDExN3B4O1xuICAgICAgdmVydGljYWwtYWxpZ246IG1pZGRsZTsgfVxuICBoZWFkZXIgLmJ0bnMge1xuICAgIGZsb2F0OiByaWdodDtcbiAgICBmb250LXNpemU6IDE0cHg7XG4gICAgY29sb3I6ICNmZmZmZmY7XG4gICAgZGlzcGxheTogLXdlYmtpdC1ib3g7XG4gICAgZGlzcGxheTogLW1zLWZsZXhib3g7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjsgfVxuICBoZWFkZXIgLmxvZ2luLXdyYXAge1xuICAgIG1hcmdpbi1yaWdodDogMzBweDsgfVxuICAgIGhlYWRlciAubG9naW4td3JhcCAubG9naW4ge1xuICAgICAgY3Vyc29yOiBwb2ludGVyOyB9XG4gICAgaGVhZGVyIC5sb2dpbi13cmFwIC5sb2dvdXQge1xuICAgICAgZGlzcGxheTogbm9uZTtcbiAgICAgIG1hcmdpbi1sZWZ0OiAxMHB4O1xuICAgICAgY3Vyc29yOiBwb2ludGVyOyB9XG4gIEBtZWRpYSAobWF4LXdpZHRoOiA3NjcuOXB4KSB7XG4gICAgaGVhZGVyIC5sb2dpbi13cmFwIHtcbiAgICAgIG1hcmdpbi1yaWdodDogMTBweDsgfSB9XG4gIGhlYWRlciAubG9naW5lZCB7XG4gICAgZGlzcGxheTogbm9uZTsgfVxuICAgIGhlYWRlciAubG9naW5lZCBpbWcsIGhlYWRlciAubG9naW5lZCBpIHtcbiAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7IH1cbiAgICBoZWFkZXIgLmxvZ2luZWQgaW1nIHtcbiAgICAgIHdpZHRoOiAyMHB4O1xuICAgICAgaGVpZ2h0OiAyMHB4OyB9XG4gICAgaGVhZGVyIC5sb2dpbmVkIGkge1xuICAgICAgZm9udC1zdHlsZTogbm9ybWFsOyB9XG4gICAgQG1lZGlhIChtYXgtd2lkdGg6IDc2Ny45cHgpIHtcbiAgICAgIGhlYWRlciAubG9naW5lZCBpIHtcbiAgICAgICAgZGlzcGxheTogbm9uZTsgfSB9XG4gIGhlYWRlciAubGFuZy1zd2l0Y2ggLmxhbmctYnRuIHtcbiAgICBjdXJzb3I6IHBvaW50ZXI7IH1cbiAgaGVhZGVyIC5sYW5nLWZpeGVkLWxheWVyIHtcbiAgICBkaXNwbGF5OiBub25lO1xuICAgIHBvc2l0aW9uOiBmaXhlZDtcbiAgICB0b3A6IDA7XG4gICAgcmlnaHQ6IDA7XG4gICAgYm90dG9tOiAwO1xuICAgIGxlZnQ6IDA7XG4gICAgYmFja2dyb3VuZDogcmdiYSgwLCAwLCAwLCAwLjYpO1xuICAgIHotaW5kZXg6IDk5OTtcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgb3BhY2l0eTogMDsgfVxuICBoZWFkZXIgLmxhbmdzLXdyYXAge1xuICAgIHdpZHRoOiAzMjBweDtcbiAgICBwb3NpdGlvbjogZml4ZWQ7XG4gICAgcmlnaHQ6IC0zMjBweDtcbiAgICB0b3A6IDA7XG4gICAgYm90dG9tOiAwO1xuICAgIGJhY2tncm91bmQ6ICNGNEY3RjY7XG4gICAgei1pbmRleDogMTtcbiAgICB6LWluZGV4OiAxMDAwOyB9XG4gICAgaGVhZGVyIC5sYW5ncy13cmFwIC5sYW5nIHtcbiAgICAgIGRpc3BsYXk6IC13ZWJraXQtYm94O1xuICAgICAgZGlzcGxheTogLW1zLWZsZXhib3g7XG4gICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjsgfVxuICAgIGhlYWRlciAubGFuZ3Mtd3JhcCAuY2xvc2UtYnRuIHtcbiAgICAgIHBhZGRpbmc6IDAgNDBweDtcbiAgICAgIGxpbmUtaGVpZ2h0OiA3MnB4O1xuICAgICAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICNmMGYwZjA7XG4gICAgICB0ZXh0LWFsaWduOiByaWdodDsgfVxuICAgIGhlYWRlciAubGFuZ3Mtd3JhcCAubG9naW4td3JhcCB7XG4gICAgICBwYWRkaW5nOiAwIDQwcHg7XG4gICAgICBsaW5lLWhlaWdodDogNzJweDtcbiAgICAgIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjZjBmMGYwOyB9XG4gICAgICBoZWFkZXIgLmxhbmdzLXdyYXAgLmxvZ2luLXdyYXAgc3BhbiB7XG4gICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICAgICAgY3Vyc29yOiBwb2ludGVyOyB9XG4gICAgaGVhZGVyIC5sYW5ncy13cmFwIC5jbG9zZS1idG4gLmxhbmctY2xvc2Uge1xuICAgICAgbWFyZ2luLWxlZnQ6IDEwcHg7XG4gICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgICB3aWR0aDogMTZweDtcbiAgICAgIGhlaWdodDogMTZweDtcbiAgICAgIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7IH1cbiAgICBoZWFkZXIgLmxhbmdzLXdyYXAgLmxhbmdzIC5sYW5nIHtcbiAgICAgIHBhZGRpbmc6IDAgNDBweDtcbiAgICAgIGxpbmUtaGVpZ2h0OiA3MnB4O1xuICAgICAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICNmMGYwZjA7XG4gICAgICBjdXJzb3I6IHBvaW50ZXI7IH1cbiAgICBoZWFkZXIgLmxhbmdzLXdyYXAgLmxhbmdzIC5sLWFjdGl2ZSBzcGFuIHtcbiAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICAgIHdpZHRoOiAzMnB4O1xuICAgICAgaGVpZ2h0OiAzMnB4O1xuICAgICAgYmFja2dyb3VuZDogdXJsKFwiLi4vLi4vaW1hZ2VzL2Jhc2VzL3VpX2NoZWNrZWQucG5nXCIpIG5vLXJlcGVhdDtcbiAgICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7IH1cbiAgaGVhZGVyIC51c2VyLW1hbmFnZSB7XG4gICAgZGlzcGxheTogbm9uZTsgfVxuICAgIGhlYWRlciAudXNlci1tYW5hZ2UgYSB7XG4gICAgICBkaXNwbGF5OiBibG9jazsgfVxuXG5AbWVkaWEgKG1heC13aWR0aDogNzY3LjlweCkge1xuICBoZWFkZXIgLmlubmVyIHtcbiAgICBwYWRkaW5nOiAwIDEwcHg7IH0gfVxuIl19 */
