/* color variable */
/* border-radius */
header {
  height: 60px;
  background: #ffffff; }
  header .inner {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1326px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }
  header .nav {
    max-width: 1000px;
    width: 100%;
    line-height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start; }
  header .lang-switch .lang-btn {
    display: inline-block;
    border-bottom: 1px solid #999999;
    cursor: pointer; }
  header .lang-fixed-layer {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    cursor: pointer;
    opacity: 0; }
  header .langs-wrap {
    width: 320px;
    position: fixed;
    right: -320px;
    top: 0;
    bottom: 0;
    background: #F4F7F6;
    z-index: 1;
    z-index: 1000; }
    header .langs-wrap .login-wrap,
    header .langs-wrap .lang {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between;
      -ms-flex-align: center;
          align-items: center; }
    header .langs-wrap .login-wrap {
      padding: 0 40px;
      line-height: 72px;
      border-bottom: 1px solid #f0f0f0; }
      header .langs-wrap .login-wrap span {
        display: inline-block;
        cursor: pointer; }
      header .langs-wrap .login-wrap .lang-close {
        margin-left: 10px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle; }
    header .langs-wrap .langs .lang {
      padding: 0 40px;
      line-height: 72px;
      border-bottom: 1px solid #f0f0f0;
      cursor: pointer; }
    header .langs-wrap .langs .l-active span {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: url("../../images/common/ui_checked.png") no-repeat;
      background-size: cover; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImhlYWRlci5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsb0JBQW9CO0FBQ3BCLG1CQUFtQjtBQUNuQjtFQUNFLGFBQWE7RUFDYixvQkFBb0IsRUFBRTtFQUN0QjtJQUNFLGVBQWU7SUFDZixnQkFBZ0I7SUFDaEIsa0JBQWtCO0lBQ2xCLFlBQVk7SUFFWixxQkFBcUI7SUFDckIsY0FBYztJQUNkLHVCQUErQjtRQUEvQiwrQkFBK0I7SUFFL0IsdUJBQXVCO0lBQ3ZCLG9CQUFvQixFQUFFO0VBQ3hCO0lBQ0Usa0JBQWtCO0lBQ2xCLFlBQVk7SUFDWixrQkFBa0I7SUFFbEIscUJBQWM7SUFBZCxjQUFjO0lBRWQscUJBQTRCO1FBQTVCLDRCQUE0QixFQUFFO0VBQ2hDO0lBQ0Usc0JBQXNCO0lBQ3RCLGlDQUFpQztJQUNqQyxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGNBQWM7SUFDZCxnQkFBZ0I7SUFDaEIsT0FBTztJQUNQLFNBQVM7SUFDVCxVQUFVO0lBQ1YsUUFBUTtJQUNSLCtCQUErQjtJQUMvQixhQUFhO0lBQ2IsZ0JBQWdCO0lBQ2hCLFdBQVcsRUFBRTtFQUNmO0lBQ0UsYUFBYTtJQUNiLGdCQUFnQjtJQUNoQixjQUFjO0lBQ2QsT0FBTztJQUNQLFVBQVU7SUFDVixvQkFBb0I7SUFDcEIsV0FBVztJQUNYLGNBQWMsRUFBRTtJQUNoQjs7TUFHRSxxQkFBcUI7TUFDckIsY0FBYztNQUNkLHVCQUErQjtVQUEvQiwrQkFBK0I7TUFDL0IsdUJBQW9CO1VBQXBCLG9CQUFvQixFQUFFO0lBQ3hCO01BQ0UsZ0JBQWdCO01BQ2hCLGtCQUFrQjtNQUNsQixpQ0FBaUMsRUFBRTtNQUNuQztRQUNFLHNCQUFzQjtRQUN0QixnQkFBZ0IsRUFBRTtNQUNwQjtRQUNFLGtCQUFrQjtRQUNsQixzQkFBc0I7UUFDdEIsWUFBWTtRQUNaLGFBQWE7UUFDYix1QkFBdUIsRUFBRTtJQUM3QjtNQUNFLGdCQUFnQjtNQUNoQixrQkFBa0I7TUFDbEIsaUNBQWlDO01BQ2pDLGdCQUFnQixFQUFFO0lBQ3BCO01BQ0Usc0JBQXNCO01BQ3RCLFlBQVk7TUFDWixhQUFhO01BQ2IsZ0VBQWdFO01BQ2hFLHVCQUF1QixFQUFFIiwiZmlsZSI6ImNvbXBvbmVudHMvaGVhZGVyLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8qIGNvbG9yIHZhcmlhYmxlICovXG4vKiBib3JkZXItcmFkaXVzICovXG5oZWFkZXIge1xuICBoZWlnaHQ6IDYwcHg7XG4gIGJhY2tncm91bmQ6ICNmZmZmZmY7IH1cbiAgaGVhZGVyIC5pbm5lciB7XG4gICAgbWFyZ2luOiAwIGF1dG87XG4gICAgcGFkZGluZzogMCAxMHB4O1xuICAgIG1heC13aWR0aDogMTMyNnB4O1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGRpc3BsYXk6IC13ZWJraXQtYm94O1xuICAgIGRpc3BsYXk6IC1tcy1mbGV4Ym94O1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICAgIC13ZWJraXQtYm94LWFsaWduOiBjZW50ZXI7XG4gICAgLW1zLWZsZXgtYWxpZ246IGNlbnRlcjtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyOyB9XG4gIGhlYWRlciAubmF2IHtcbiAgICBtYXgtd2lkdGg6IDEwMDBweDtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBsaW5lLWhlaWdodDogNjBweDtcbiAgICBkaXNwbGF5OiAtd2Via2l0LWJveDtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIC13ZWJraXQtYm94LXBhY2s6IHN0YXJ0O1xuICAgIGp1c3RpZnktY29udGVudDogZmxleC1zdGFydDsgfVxuICBoZWFkZXIgLmxhbmctc3dpdGNoIC5sYW5nLWJ0biB7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjOTk5OTk5O1xuICAgIGN1cnNvcjogcG9pbnRlcjsgfVxuICBoZWFkZXIgLmxhbmctZml4ZWQtbGF5ZXIge1xuICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgcG9zaXRpb246IGZpeGVkO1xuICAgIHRvcDogMDtcbiAgICByaWdodDogMDtcbiAgICBib3R0b206IDA7XG4gICAgbGVmdDogMDtcbiAgICBiYWNrZ3JvdW5kOiByZ2JhKDAsIDAsIDAsIDAuNik7XG4gICAgei1pbmRleDogOTk5O1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgICBvcGFjaXR5OiAwOyB9XG4gIGhlYWRlciAubGFuZ3Mtd3JhcCB7XG4gICAgd2lkdGg6IDMyMHB4O1xuICAgIHBvc2l0aW9uOiBmaXhlZDtcbiAgICByaWdodDogLTMyMHB4O1xuICAgIHRvcDogMDtcbiAgICBib3R0b206IDA7XG4gICAgYmFja2dyb3VuZDogI0Y0RjdGNjtcbiAgICB6LWluZGV4OiAxO1xuICAgIHotaW5kZXg6IDEwMDA7IH1cbiAgICBoZWFkZXIgLmxhbmdzLXdyYXAgLmxvZ2luLXdyYXAsXG4gICAgaGVhZGVyIC5sYW5ncy13cmFwIC5sYW5nIHtcbiAgICAgIGRpc3BsYXk6IC13ZWJraXQtYm94O1xuICAgICAgZGlzcGxheTogLW1zLWZsZXhib3g7XG4gICAgICBkaXNwbGF5OiBmbGV4O1xuICAgICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjsgfVxuICAgIGhlYWRlciAubGFuZ3Mtd3JhcCAubG9naW4td3JhcCB7XG4gICAgICBwYWRkaW5nOiAwIDQwcHg7XG4gICAgICBsaW5lLWhlaWdodDogNzJweDtcbiAgICAgIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjZjBmMGYwOyB9XG4gICAgICBoZWFkZXIgLmxhbmdzLXdyYXAgLmxvZ2luLXdyYXAgc3BhbiB7XG4gICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICAgICAgY3Vyc29yOiBwb2ludGVyOyB9XG4gICAgICBoZWFkZXIgLmxhbmdzLXdyYXAgLmxvZ2luLXdyYXAgLmxhbmctY2xvc2Uge1xuICAgICAgICBtYXJnaW4tbGVmdDogMTBweDtcbiAgICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgICAgICB3aWR0aDogMTZweDtcbiAgICAgICAgaGVpZ2h0OiAxNnB4O1xuICAgICAgICB2ZXJ0aWNhbC1hbGlnbjogbWlkZGxlOyB9XG4gICAgaGVhZGVyIC5sYW5ncy13cmFwIC5sYW5ncyAubGFuZyB7XG4gICAgICBwYWRkaW5nOiAwIDQwcHg7XG4gICAgICBsaW5lLWhlaWdodDogNzJweDtcbiAgICAgIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjZjBmMGYwO1xuICAgICAgY3Vyc29yOiBwb2ludGVyOyB9XG4gICAgaGVhZGVyIC5sYW5ncy13cmFwIC5sYW5ncyAubC1hY3RpdmUgc3BhbiB7XG4gICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgICB3aWR0aDogMzJweDtcbiAgICAgIGhlaWdodDogMzJweDtcbiAgICAgIGJhY2tncm91bmQ6IHVybChcIi4uLy4uL2ltYWdlcy9jb21tb24vdWlfY2hlY2tlZC5wbmdcIikgbm8tcmVwZWF0O1xuICAgICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjsgfVxuIl19 */
