/* color variable */
$color-white: #ffffff;
$color-light-gray: #bdbdbd;
$color-gray: #3b3b3b;
$color-deep-gray: #999999;
$color-black: #252525;
$color-light-black: #2a2a2a;
$color-deep-black: #000000;

$color-orange: #FF5500;