/* color variable */
$color-white: #ffffff;
$color-deep-gray: #999999;
$color-light-black: #333333;
$color-deep-black: #000000;

$color-border: #f0f0f0;

$color-orange: #FF5500;
$color-green: #63E156;