@import "../base/index.scss";
@import "../base/grid.scss";
@import "../components/loading.scss";
@import "../components/base-header.scss";
@import "../components/footer.scss";
@import "../components/baseform.scss";

.color-gray {
  color: #a9a9a9;
}

.point-events {
  pointer-events: none;
  cursor: default;
  opacity: .6;
}

.bg-color-green {
  background: $color-green;
}

.bg-color-orange {
  background: $color-orange;
}

.s-container {
  margin: 0 auto;
  max-width: 780px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.details-wrapper {
  min-height: 100%;
  background: url('../../images/details/home_bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  .section {
    padding-top: 150px;
    @media (max-width: 767.9px) {
      padding-top: 50px;
    }
    @media (min-width: 768px) {
      padding-bottom: 60px;
    }
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
  
    .area {
      @media (max-width: 767.9px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

  }

  .area-left {
    padding-left: 20px;
    padding-right: 60px;
    @media (max-width: 767.9px) {
      margin-bottom: 30px;
      padding-right: 20px;
    }
    .head-details {
      padding-bottom: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .project-logo {
        display: block;
        margin-right: 10px;
        width: 60px;
        height: 60px;
        border: 2px solid #e9cdb4;
        @include border-radius(100%);
      }

      .project-name {
        margin-right: 5px;
        font-size: 30px;
        color: #ffffff;
      }
    }

    .project-instruction {
      @include fc(16px, #ffffff);
    }
    
    .project-body {
      padding-top: 32px;
      color: #ffffff;
      text-align: center;
      .row {
        border-left: 1px solid #ffffff;
        i, span {
          display: inline-block;
        }
        p {
          line-height: 1;
        }
        .top {
          margin-bottom: 12px;
        }
        .dot {
          margin-right: 4px;
          width: 10px;
          height: 10px;
          @include border-radius(100%);
        }
      }
    }

    .project-foot {
      margin-top: 24px;
      .btn-links {
        a {
          display: inline-block;
          width: 136px;
          height: 40px;
          line-height: 40px;
          color: #ffffff;
          background: url('../../images/details/ui_btn.png') no-repeat;
          background-size: cover;
          text-align: center;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
      .links {
        margin-top: 28px;
        font-size: 0;
        a {
          display: inline-block;
          max-width: 18px;
          font-size: 14px;
          background-repeat: no-repeat;
          background-size: cover;
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }

      .twitter {
        @include wh(20px, 15px);
        background-image: url('../../images/details/twitter.png');
        &:hover {
          background-image: url('../../images/details/twitter_active.png');
        }
      }

      .facebook {
        @include wh(17px, 17px);
        background-image: url('../../images/details/facebook.png');
        &:hover {
          background-image: url('../../images/details/facebook_active.png');
        }
      }

      .telegram {
        @include wh(17px, 17px);
        background-image: url('../../images/details/telegram.png');
        &:hover {
          background-image: url('../../images/details/telegram_active.png');
        }
      }

      .reddit {
        @include wh(17px, 17px);
        background-image: url('../../images/details/reddit.png');
        &:hover {
          background-image: url('../../images/details/reddit_active.png');
        }
      }
      
      .biyong {
        @include wh(14px, 17px);
        background-image: url('../../images/details/biyong.png');
        &:hover {
          background-image: url('../../images/details/biyong_active.png');
        }
      }

      .github {
        @include wh(13px, 17px);
        background-image: url('../../images/details/github.png');
        &:hover {
          background-image: url('../../images/details/github_active.png');
        }
      }
    }
  }

  .area-right {
    @media (max-width: 767.9px) {
      width: 100%;
      margin-bottom: 30px;
    }
    .project-main {
      margin: 0 auto;
      padding: 0 20px;
      width: 314px;
      min-height: 330px;
      color: #ffffff;
      background: #333333;
      @include border-radius(6px);
    }

    .project-status {
      padding: 24px 0 32px;
      @include fc(24px, #ffffff);
      text-align: center;
    }

    .devide {
      margin-bottom: 10px;
    }

    .token-rate-items {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .token-item {
        display: block;
        position: relative;
        width: 120px;
        height: 58px;
        text-align: center;
        font-size: 18px;
        border: 1px solid #C6B676;
        @include border-radius(4px);
        legend {
          padding: 0 4px;
          color: #FDBE00;
          font-size: 16px;
          line-height: 16px;
        }
      }
      .equal-sign {
        display: block;
        padding: 0 20px;
        font-size: 20px;
      }
    }
    .countdown {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .time {
        width: 66px;
        height: 66px;
        background: #ffffff;
        text-align: center;
        @include border-radius(4px);
        .top {
          margin: 6px;
          color: #a9a9a9;
          font-size: 12px;
          text-align: left;
        }
        .bottom {
          color: #ff5500;
          font-size: 24px;
        }
      }
      .delimiter {
        padding: 0 8px;
        color: #ffffff;
      }
    }
    .collect-item {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 34px;
      }
      fieldset {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 270px;
        height: 58px;
        text-align: center;
        color: #C6B676;
        font-size: 18px;
        border: 1px solid #C6B676;
        @include border-radius(4px);
        legend {
          padding: 0 4px;
          color: #FDBE00;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
    button {
      margin: 30px auto 24px;
      display: block;
      width: 210px;
      height: 40px;
      line-height: 40px;
      background: -moz-linear-gradient(left,#FFB738,#FF2523);
      background: -o-linear-gradient(left,#FFB738,#FF2523);
      background: -ms-linear-gradient(left,#FFB738,#FF2523);
      background: -webkit-linear-gradient(left,#FFB738,#FF2523);
      @include fc(18px, $color-white);
      @include border-radius(100px);
      cursor: pointer;
      &:disabled {
        background: #d1d1d1;
        cursor: not-allowed;
      }
    }

    .sale-numbers {
      margin-bottom: 2px;
      font-size: 20px;
    }
    
    .sale-txt {
      color: #cccccc;
    }
  }

}

