@import "../base/index.scss";
@import "../base/grid.scss";
@import "../components/loading.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/baseform.scss";

.color-gray {
  color: #a9a9a9;
}

.point-events {
  pointer-events: none;
  cursor: default;
  opacity: .6;
}

.bg-color-green {
  background: $color-green;
}

.bg-color-orange {
  background: $color-orange;
}

.s-container {
  margin: 0 auto;
  max-width: 780px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.details-wrapper {
  padding-top: 50px;
  min-height: 100%;
  background-image: url('../../images/bases/top_lf_bg.png'), url('../../images/bases/btm_rt_bg.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 377px 316px,377px 316px;
  background-position: 0 50px, 100% 95%;
  .section {
    padding-top: 168px;
    @media (max-width: 767.9px) {
      padding-top: 30px;
    }
    @media (min-width: 768px) {
      padding-bottom: 60px;
    }
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
  
    .area {
      @media (max-width: 767.9px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

  }

  .area-left {
    padding: 10px 40px 10px 20px;
    min-height: 330px;
    background: #ffffff;
    border: 1px solid #E9E9E9;
    @include border-radius(6px);
    @media (max-width: 767.9px) {
      margin-bottom: 30px;
      padding-right: 20px;
    }
    .head-details {
      padding-bottom: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .project-logo {
        display: block;
        margin-right: 10px;
        padding: 5px;
        width: 60px;
        height: 60px;
        border: 1px solid #e9e9e9;
        @include border-radius(4px);
      }

      .project-name {
        margin-right: 5px;
        font-size: 30px;
      }
    }

    .project-instruction {
      font-size: 16px;
    }
    
    .project-body {
      padding-top: 32px;
      text-align: center;
      .row {
        border-left: 1px solid #333333;
        i, span {
          display: inline-block;
        }
        p {
          line-height: 1;
        }
        .top {
          margin-bottom: 12px;
        }
        .dot {
          margin-right: 4px;
          width: 10px;
          height: 10px;
          @include border-radius(100%);
        }
      }
    }

    .project-foot {
      margin-top: 24px;
      .btn-links {
        a {
          display: inline-block;
          width: 136px;
          height: 40px;
          line-height: 40px;
          color: #333333;
          text-align: center;
          border: 1px solid #3FB9EC;
          @include border-radius(40px);
          &:first-child {
            margin-right: 20px;
          }
        }
      }
      .links {
        margin-top: 28px;
        font-size: 0;
        a {
          display: inline-block;
          max-width: 18px;
          font-size: 14px;
          background-repeat: no-repeat;
          background-size: cover;
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }

      .twitter {
        @include wh(20px, 15px);
        background-image: url('../../images/details/twitter.png');
        &:hover {
          background-image: url('../../images/details/twitter_active.png');
        }
      }

      .facebook {
        @include wh(17px, 17px);
        background-image: url('../../images/details/facebook.png');
        &:hover {
          background-image: url('../../images/details/facebook_active.png');
        }
      }

      .telegram {
        @include wh(17px, 17px);
        background-image: url('../../images/details/telegram.png');
        &:hover {
          background-image: url('../../images/details/telegram_active.png');
        }
      }

      .reddit {
        @include wh(17px, 17px);
        background-image: url('../../images/details/reddit.png');
        &:hover {
          background-image: url('../../images/details/reddit_active.png');
        }
      }
      
      .biyong {
        @include wh(14px, 17px);
        background-image: url('../../images/details/biyong.png');
        &:hover {
          background-image: url('../../images/details/biyong_active.png');
        }
      }

      .github {
        @include wh(13px, 17px);
        background-image: url('../../images/details/github.png');
        &:hover {
          background-image: url('../../images/details/github_active.png');
        }
      }
    }
  }

  .area-right {
    @media (max-width: 767.9px) {
      width: 100%;
      margin-bottom: 30px;
    }
    .project-main {
      margin: 0 auto;
      padding: 0 20px;
      width: 314px;
      min-height: 330px;
      background: #ffffff;
      float: right;
      border: 1px solid #E9E9E9;
      @include border-radius(6px);
      @media (max-width: 767.9px) {
        float: initial;
      }
    }

    .effective-discounts {
      .project-status {
        padding-bottom: 12px;
      }

      button {
        margin: 11px auto 9px;
      }
    }

    .project-status {
      padding: 24px 0 30px;
      font-size: 24px;
      text-align: center;
    }

    .discounts {
      .discounts-txt {
        margin-bottom: 12px;
        font-size: 14px;
        color: #BCBCBB;
      }

      .discounts-time {
        margin-bottom: 15px;
        font-size: 18px;
        color: #000000;
      }
    }

    .devide {
      margin-bottom: 10px;
    }

    .token-rate-items {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .token-item {
        display: block;
        position: relative;
        width: 120px;
        height: 58px;
        text-align: center;
        font-size: 18px;
        background: #FBFBFB;
        border: 1px solid #E9E9E9;
        @include border-radius(4px);
        legend {
          padding: 0 4px;
          color: #5768C0;
          font-size: 16px;
          line-height: 16px;
        }
      }
      .equal-sign {
        display: block;
        flex: 1;
        padding: 0 20px;
        font-size: 20px;
      }
    }
    .countdown {
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .time {
        width: 66px;
        height: 66px;
        text-align: center;
        border: 1px solid #e9e9e9;
        @include border-radius(4px);
        .top {
          margin: 6px;
          color: #a9a9a9;
          font-size: 12px;
          text-align: left;
        }
        .bottom {
          color: #4954AC;
          font-size: 24px;
        }
      }
      .delimiter {
        padding: 0 8px;
      }
    }
    .collect-item {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 34px;
      }
      fieldset {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 270px;
        height: 58px;
        text-align: center;
        font-size: 18px;
        border: 1px solid #E9E9E9;
        @include border-radius(4px);
        legend {
          padding: 0 4px;
          color: #5768C0;
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
    button {
      margin: 30px auto 28px;
      display: block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      background: #68B541;
      @include fc(18px, $color-white);
      @include border-radius(100px);
      cursor: pointer;
      &:disabled {
        background: #d1d1d1;
        cursor: not-allowed;
      }
    }

    .sale-numbers {
      margin-bottom: 2px;
      font-size: 20px;
    }
    
    .sale-txt {
      color: #cccccc;
    }
  }

  .progress-wrap {
    position: relative;
    margin-top: 40px;
    i {
      font-style: normal;
    }
    span {
      display: block;
    }
    .progress-bg {
      position: relative;
      width: 100%;
      height: 14px;
      border: 1px solid #e9e9e9;
      @include border-radius(10px);
      z-index: 9;
    }
    .progress-bar {
      position: absolute;
      top: 1px;
      left: 0;
      height: 14px;
      background: -webkit-linear-gradient(left, #3FB9EC, #6576FF);
      @include border-radius(10px);
      transition: all ease .3s;
      z-index: 89;
    }

    .progress-status {
      position: absolute;
      width: 100%;
      height: 14px;
    }

    .circle-outer {
      position: absolute;
      top: -5px;
      left: 0;
      width: 24px;
      height: 24px;
      line-height: 24px;
      background: #ffffff;
      box-shadow: 0 0 6px #0023A5;
      @include border-radius(100%);
      text-align: center;
      font-size: 0;
    }

    .circle-inner {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: #3FB9EC;
      @include border-radius(100%);
      vertical-align: middle;
    }

    .softcap {
      margin-left: -47.5px;
      position: absolute;
      top: -24px;
      width: 95px;
      line-height: 20px;
      color: #3FB9EC;
      font-size: 12px;
      background: #D6EFF9;
      @include border-radius(20px);
      text-align: center;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -19px;
        left: 50%;
        margin-left: -0.5px;
        width: 1px;
        height: 14px;
        background: #e9e9e9;
        z-index: 90;
      }
      .circle {
        margin-top: -2px;
        margin-right: 8px;
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #3FB9EC;
        @include border-radius(100%);
        vertical-align: middle;
      }
    }

    .hardcap {
      position: absolute;
      top: -24px;
      right: 0;
      width: 95px;
      line-height: 20px;
      font-size: 12px;
      color: #68B541;
      background:#DEEED7;
      @include border-radius(20px);
      text-align: center;
      .circle {
        margin-top: -2px;
        margin-right: 8px;
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #68B541;
        @include border-radius(100%);
        vertical-align: middle;
      }
    }
  }

}

html[lang=cn] {
  .details-wrapper {
    .area-right {
      @media (max-width: 767.9px) {
        width: 100%;
        margin-bottom: 30px;
      }
  
      .project-status {
        padding: 20px 0 10px;
        font-size: 20px;
        text-align: center;
      }
  
      .discounts {
        .discounts-txt {
          margin-bottom: 5px;
        }
  
        .discounts-time {
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
  
      .sale-numbers {
        margin-bottom: 2px;
        font-size: 16px;
      }
      
    }
  }
}
