@import "../base/index.scss";
@import "../base/grid.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/baseform.scss";

.color-gray {
  color: #a9a9a9;
}

.bg-color-green {
  background: $color-green;
}

.bg-color-orange {
  background: $color-orange;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.details-wrapper {
  .main {
    padding-bottom: 55px;
    width: 100%;
    min-height: 768px;
    background: url('../../images/details/details_bg.png') no-repeat;
    background-size: cover;
  }

  .box-head {
    margin: 0 auto;
    padding: 31px 0;
    width: 350px;
    color: $color-white;
    text-align: center;
    .name {
      margin-bottom: 24px;
      line-height: 1;
      font-size: 26px;
    }
    .divide {
      margin-bottom: 10px;
    }
    .label {
      position: relative;
      display: inline-block;
      margin-bottom: 20px;
      padding: 0 5px;
      height: 30px;
      line-height: 30px;
      background: #927a63;
      text-align: center;
      &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: -30px;
        background: url('../../images/details/triangle_lf.png') no-repeat;
        background-size: cover;
      }
      &:after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: -30px;
        background: url('../../images/details/triangle_rt.png') no-repeat;
        background-size: cover;
      }
    }
    button {
      margin: 20px 0 10px;
      display: inline-block;
      width: 300px;
      height: 52px;
      line-height: 52px;
      background: $color-orange;
      @include fc(20px, $color-white);
      @include border-radius(100px);
      cursor: pointer;
      &:disabled {
        background: #999999;
      }
    }
  }

  .box-foot {
    padding: 20px 0;
    background: $color-white;
    @include border-radius(5px);
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    .area {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .area-left {
      // width: 64%;
      border-right: 1px solid $color-border;
    }
  
    .area-right {
      // width: 36%;
    }
  }

  .area-left {
    .project-head {
      padding-bottom: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 1px solid $color-border;
      .project-logo {
        margin-right: 20px;
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .project-details {
        flex: 1;
      }

      .project-name {
        margin-right: 5px;
        display: inline-block;
        font-size: 16px;
      }

      .project-infos {
        margin-top: 8px;
        @include fc(14px, $color-deep-gray);
      }
    }
    
    .project-body {
      padding-bottom: 12px;
      border-bottom: 1px solid $color-border;
      .row {
        margin-top: 12px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .col-3 {
          img,
          span {
            vertical-align: middle;
          }
          span {
            display: inline-block;
            margin-left: 6px;
          }
        }
      }
    }

    .project-foot {
      padding-top: 20px;
      text-align: center;
      .row {
        i, span {
          display: inline-block;
        }
        p {
          line-height: 1;
        }
        .top {
          margin-bottom: 12px;
        }
        .dot {
          margin-right: 4px;
          width: 10px;
          height: 10px;
          @include border-radius(100%);
        }
      }
    }
  }

  .area-right {
    .desc-title {
      margin-bottom: 10px;
      font-size: 16px;
    }
    .desc-field {
      min-height: 180px;
      padding: 10px;
      background: #f5f5f5;
    }
  }
}

@media (max-width: 767.9px) {
  .main {
    padding: 0 10px;
  }
  .row {
    .area-left {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 768px) {
  .row {
    .area-left {
      border-right: 1px solid $color-border;
    }
  }
}