@import "../base/index.scss";
@import "../base/grid.scss";
@import "../components/loading.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/baseform.scss";
@import "../components/countdown.scss";

.color-gray {
  color: #BCBCBB
}

.align-center {
  text-align: center;
}

.point-events {
  pointer-events: none;
  cursor: default;
  opacity: .6;
}

.bg-color-green {
  background: $color-green;
}

.bg-color-orange {
  background: $color-orange;
}

.s-container {
  margin: 0 auto;
  max-width: 900px;
}

.details-wrapper {
  padding-top: 50px;
  padding-bottom: 60px;
  min-height: 100%;
  background-image: url('../../images/bases/top_lf_bg.png'), url('../../images/bases/btm_rt_bg.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 377px 316px, 377px 316px;
  background-position: 0 50px, 100% 95%;

  .section-top {
    margin-top: 30px;
    text-align: center;
    .title {
      padding: 20px 0 15px;
      @include fc(30px, #000000);
      line-height: 1;
    }

    a, span {
      display: inline-block;
      vertical-align: middle;
    }
    
    p {
      @include fc(14px, #000000);
    }

    .summary-txt {
      max-width: 725px;
      margin: 0 auto 15px;
    }

    .join-txt {
      margin-bottom: 10px;
    }

    .btn-telegram {
      display: inline-block;
      width: 165px;
      height: 25px;
      line-height: 25px;
      color: #ffffff;
      font-size: 0;
      background: #019AC9;
      vertical-align: middle;
    }

    .icon-tg {
      margin-right: 4px;
      display: inline-block;
      width: 15px;
      height: 13px;
      background: url('../../images/bases/icon_tg.png') no-repeat;
      background-size: cover;
    }

    .tg-text {
      font-size: 14px;
    }
  }

  .section-middle {
    padding-top: 65px;
    padding-bottom: 32px;

    .title {
      margin-bottom: 30px;
      @include fc(24px, #333333);
      line-height: 1;
      text-align: center;
    }
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
  
    .area {
      @media (max-width: 767.9px) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

  }

  .area-left {
    padding-left: 20px;
    padding-right: 40px;
    @media (max-width: 767.9px) {
      margin-bottom: 30px;
      padding-right: 20px;
    }
    .head-details {
      padding-bottom: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .project-logo {
        display: block;
        margin-right: 12px;
        padding: 4px;
        width: 60px;
        height: 60px;
        border: 1px solid #e9e9e9;
        @include border-radius(4px);
        img {
          width: 100%;
          height: 100%;
        }
      }

      .project-name {
        font-size: 30px;
        line-height: 1;
      }
    }
    
    .links {
      margin-top: 12px;
      font-size: 0;
      a {
        display: inline-block;
        max-width: 18px;
        font-size: 14px;
        background-repeat: no-repeat;
        background-size: cover;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    .twitter {
      @include wh(20px, 15px);
      background-image: url('../../images/details/twitter.png');
      &:hover {
        background-image: url('../../images/details/twitter_active.png');
      }
    }

    .facebook {
      @include wh(17px, 17px);
      background-image: url('../../images/details/facebook.png');
      &:hover {
        background-image: url('../../images/details/facebook_active.png');
      }
    }

    .telegram {
      @include wh(17px, 17px);
      background-image: url('../../images/details/telegram.png');
      &:hover {
        background-image: url('../../images/details/telegram_active.png');
      }
    }

    .reddit {
      @include wh(17px, 17px);
      background-image: url('../../images/details/reddit.png');
      &:hover {
        background-image: url('../../images/details/reddit_active.png');
      }
    }
    
    .biyong {
      @include wh(14px, 17px);
      background-image: url('../../images/details/biyong.png');
      &:hover {
        background-image: url('../../images/details/biyong_active.png');
      }
    }

    .github {
      @include wh(13px, 17px);
      background-image: url('../../images/details/github.png');
      &:hover {
        background-image: url('../../images/details/github_active.png');
      }
    }

    .project-instruction {
      font-size: 16px;
      line-height: 18px;
    }
    
    .project-body {
      padding-top: 18px;
      text-align: center;
      .row {
        i, span {
          display: inline-block;
        }
        p {
          line-height: 1;
        }
        .top {
          margin-bottom: 14px;
          font-weight: bold;
        }
        .dot {
          margin-right: 4px;
          width: 10px;
          height: 10px;
          @include border-radius(100%);
        }
      }
    }

    .project-foot {
      margin-top: 40px;
      .btn-links {
        a {
          display: inline-block;
          width: 136px;
          height: 40px;
          line-height: 40px;
          color: #ffffff;
          background: #019AC9;
          text-align: center;
          @include border-radius(40px);
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .area-right {
    @media (max-width: 767.9px) {
      width: 100%;
      margin-bottom: 30px;
    }
    .project-main {
      margin: 0 auto;
      padding: 0 20px;
      width: 314px;
      float: right;
      @include border-radius(6px);
      @media (max-width: 767.9px) {
        float: initial;
      }
    }

    .is-discounts {
      
    }

    .no-discounts {
      .start-wrapper {
        margin-top: 115px;
      }
    }

    .project-status {
      padding-bottom: 12px;
      @include fc(30px, #333333);
      line-height: 1;
      text-align: center;
    }

    .discounts {
      margin-bottom: 36px;
      .discounts-txt {
        margin-bottom: 22px;
        @include fc(14px, #000000);
        text-align: center;
      }

      .discounts-time {
        margin-bottom: 14px;
        font-size: 18px;
        color: #000000;
      }

      .discounts-countdown-wrapper {
        padding: 0 10px;
      }
    }

    .token-rate {
      @include fc(16px, #333333);
      font-weight: 500;
      line-height: 1;
      text-align: center;
    }

    .project-start {
      margin-bottom: 16px;
      color: #BCBCBB;
      text-align: center;
    }

    button {
      margin: 38px auto 0;
      display: block;
      width: 230px;
      height: 40px;
      line-height: 40px;
      background: #c3b67e;
      @include fc(14px, $color-white);
      @include border-radius(100px);
      cursor: pointer;
      &:disabled {
        background: #d1d1d1;
        cursor: not-allowed;
      }
    }

    .collect-total {
      margin-top: 16px;
      .collect-item {
        margin-bottom: 10px;
        @include fc(18px, #000000);
        text-align: center;
      }
    }
  }

  .progress-wrap {
    position: relative;
    margin-top: 28px;
    i {
      font-style: normal;
    }
    span {
      display: block;
    }
    .progress-bg {
      position: relative;
      width: 100%;
      height: 10px;
      border: 1px solid #e9e9e9;
      @include border-radius(10px);
      z-index: 9;
    }
    .progress-bar {
      position: absolute;
      top: 1px;
      left: 0;
      height: 10px;
      background: -webkit-linear-gradient(left, #3FB9EC, #6576FF);
      @include border-radius(10px);
      transition: all ease .3s;
      z-index: 89;
    }

    .progress-status {
      position: absolute;
      width: 100%;
      height: 10px;
    }

    .circle-outer {
      position: absolute;
      top: -7px;
      left: 0;
      width: 24px;
      height: 24px;
      line-height: 24px;
      background: #ffffff;
      box-shadow: 0 0 6px #0023A5;
      @include border-radius(100%);
      text-align: center;
      font-size: 0;
    }

    .circle-inner {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: #3FB9EC;
      @include border-radius(100%);
      vertical-align: middle;
    }

    .softcap {
      margin-left: -47.5px;
      position: absolute;
      top: -24px;
      width: 95px;
      line-height: 20px;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -0.5px;
        width: 1px;
        height: 10px;
        background: #e9e9e9;
        z-index: 90;
      }
      .circle {
        margin-top: -2px;
        margin-right: 8px;
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #3FB9EC;
        @include border-radius(100%);
        vertical-align: middle;
      }
    }

    .hardcap {
      position: absolute;
      top: -24px;
      // right: 0;
      width: 95px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 500;
      color: #000000;
      text-align: right;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -0.5px;
        width: 1px;
        height: 10px;
        background: #e9e9e9;
        z-index: 90;
      }
      .circle {
        margin-top: -2px;
        margin-right: 8px;
        display: inline-block;
        width: 6px;
        height: 6px;
        background: #3FB9EC;
        @include border-radius(100%);
        vertical-align: middle;
      }
    }
  }

  .eth-raised {
    margin-top: 10px;
    @include fc(14px, #000000);
    font-weight: 500;
    text-align: right;
    span {
      display: inline-block;
    }
    .eth-raised-amount {
      margin-right: 2px;
    }
    .raised-txt {
      margin-left: 2px;
    }
  }

}

html[lang=cn] {
  .details-wrapper {

    .section-top {
      .summary-txt {
        max-width: 585px;
      }
    }
    .area-right {
      .discounts {
        margin-bottom: 32px;
      }
    }
  }
}
