@import "../base/index.scss";
@import "../base/grid.scss";
@import "../components/loading.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/baseform.scss";

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sale-wrapper {
  padding-top: 60px;
  min-height: 100%;
  background-image: url('../../images/bases/top_lf_bg.png'), url('../../images/bases/btm_rt_bg.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 377px 316px,377px 316px;
  background-position: 0 50px, 100% 95%;

  .container {
    margin: 0 auto;
    padding: 15px 70px;
    max-width: 1000px;
    background: #ffffff;
    border: 1px solid #E9E9E9;
    @include border-radius(6px);
  }



}